<head>
    <meta charset="utf-8">
    <title>Barebones Page</title>
    <meta name="description" content="starter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="urlshortener" data-ng-controller="MainCtrl">
  <div class="content centered" style="top:30%">
	  <form>
	  	<input type="text" class="searchr" data-ng-model="userInputURL" placeholder="URL here">
	  </form>
	  <div data-ng-show="shortURL" class="rounded-white-box">{{shortURL}}</div>
      
      
      
      
  </div>
</body>
